<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Professional\source\repos\interactive_tutorial\interactive_tutorial\Database1.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>